# LaTeX build files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Beamer
*.nav
*.pre
*.snm
*.vrb

# Intermediate documents
*.dvi
*.xdv
*-converted-to.*

# Generated figures
# *.pdf
# *.ps
# *.eps

# Generated if using elsarticle.cls
*.spl

# Latexmk
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Editor files
*~
*.bak
*.swp
.DS_Store